.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /*The position sticky with top: 0 freezes the bar or header when we scroll*/
    top: 0;
    background-color: rgb(255, 255, 255); /*white is what we expect for header when we scroll down*/
    z-index: 100; /*z-index helps us keep elements on top of everyone*/
    width: 100%; /*width of fixed header*/
  }

.logo{
    height: 10%;
    width: 10%;
    
}

.center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content; /*Centering input field*/
  padding: 10px;
  height: 30px;
  border: 2px solid lightgray;
  border-radius: 999px;
}

.center > input {
    padding: 10px;
    outline-width: 0;
    border: none;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6vw;
    margin-right: 80px;
  }
